<!DOCTYPE html>

<html lang="en" style="height: 100%">
    <head>
        <meta charset="utf-8">
        <title>dasboard_sconnect_admin.html : /home/cat95/mysite/templates/dasboard_sconnect_admin.html : Editor : cat95 : PythonAnywhere</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="dasboard_sconnect_admin.html : /home/cat95/mysite/templates/dasboard_sconnect_admin.html : Editor : cat95 : PythonAnywhere">
        <meta name="author" content="PythonAnywhere LLP">
        <meta name="google-site-verification" content="O4UxDrfcHjC44jybs2vajc1GgRkTKCTRgVzeV6I9V14" />


        <!-- Le styles -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" />

        <link rel="stylesheet" href="/static/CACHE/css/e231cf912450.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/CACHE/css/a5c0829f431b.css" type="text/css" /><link rel="stylesheet" href="/static/CACHE/css/d35c50144af5.css" type="text/css" media="screen" />

        <!-- Le javascript -->
        <script type="text/javascript">
            var Anywhere = {};
            Anywhere.urls = {};
            Anywhere.csrfToken = "Oh8Two6xpA5OvRfbifNXSTQHWDmjAuFBFeLS8PRFqlDpOJiAZCI1Ol65dyizLDgY";
        </script>
        <script type="text/javascript" src="/static/CACHE/js/efd0f9224b4c.js"></script>
        

        <script type="text/javascript" src="/static/CACHE/js/67a0ddd914e8.js"></script>
        
    <script type="text/javascript">
      $(document).ready(function() {
        $.extend(Anywhere.urls, {
          file: "/user/cat95/files/home/cat95/mysite/templates/dasboard_sconnect_admin.html",
          check_hash: "/user/cat95/files/home/cat95/mysite/templates/dasboard_sconnect_admin.html",
          update_editor_mode_preference: "/user/cat95/account/update_editor_mode_preference",
          console_api: "/api/v0/user/cat95/consoles/",
        });
        var filename = "/home/cat95/mysite/templates/dasboard_sconnect_admin.html";
        var hash = "a05daa39d520a9fba2ef4c94a00b2f9f";
        var interpreter = "None";

        
            Anywhere.Editor.InitializeAce(ace, Anywhere.urls, filename, hash, interpreter, "pythonanywhere.com");
            $("#id_keybinding_mode_select").val("normal");
            $("#id_keybinding_mode_select").trigger("change");
        
        var consoleVisible = false;
        Anywhere.Editor.splitPanes(consoleVisible);

        Anywhere.WebAppControl.initialize();
        Anywhere2.initializeFileSharingOptions(
          $('#id_file_sharing_options')[0],
          {
            url: "/api/v0/user/cat95/files/sharing/",
            csrfToken: "Oh8Two6xpA5OvRfbifNXSTQHWDmjAuFBFeLS8PRFqlDpOJiAZCI1Ol65dyizLDgY",
            path: "/home/cat95/mysite/templates/dasboard_sconnect_admin.html"
          }
        );

      });
    </script>

        

    </head>

     <body style="height:100%;">
       <div style="min-height: 100%; position: relative;">
        
        
  




  <nav class="navbar navbar-default fullscreen-main-navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img id="id_logo" src="/static/anywhere/images/PA-logo-snake-only.svg" height="100%" />
      </a>
    </div>

    <div class="extra-nav-content">
      

  <div id="id_editor_toolbar">

    <div class="pull-left">
      <span id="id_breadcrumbs_div"><a class="breadcrumbs_link breadcrumb_entry" href="/user/cat95/files/">/</a><a class="breadcrumbs_link breadcrumb_entry" href="/user/cat95/files/home">home</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/cat95/files/home/cat95">cat95</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/cat95/files/home/cat95/mysite">mysite</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/cat95/files/home/cat95/mysite/templates">templates</a><span class="breadcrumb_entry">/</span><wbr><span class="breadcrumb_entry breadcrumb_terminal">dasboard_sconnect_admin.html</span></span>

      <span>
        <span id="id_unsaved_changes_spacer">
          <span id="id_unsaved_changes" class="pa_hidden muted">(unsaved changes)</span>
        </span>
      </span>
    </div>

    <div id="id_editor_messages" class="pull-left">
      

    </div>

    <div class="pull-right">
      <div id="id_editor_buttons_right" class="form-inline">
        <span id="id_save_error" class="pa_hidden alert alert-danger">Error saving.</span>
        <img src="/static/anywhere/images/spinner-small.gif" class="pa_hidden" id="id_save_spinner" />
        
          <span id="id_keyboard_shortcuts"><a href="#">Keyboard shortcuts:</a></span>
          <select id="id_keybinding_mode_select" class="form-control input-sm">
            <option value="normal">Normal</option>
            <option value="vim">Vim</option>
          </select>
        
        <button id="id_display_sharing_options" class="btn btn-default" data-toggle="modal" data-target="#id_file_sharing_modal" title="Get a URL to share this file">
          <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
          Share
        </button>
        
          <button id="id_save" class="btn btn-success" title="Save (Ctrl + S)">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            Save
          </button>
          <button id="id_save_as" class="btn btn-default" title="Save As">Save as...</button>
        
        

        
          
            <form class="reload_web_app" style="display: flex" method="POST" action="/user/cat95/webapps/cat95.pythonanywhere.com/reload">
              <button class="btn btn-default" type="submit" title="Reload cat95.pythonanywhere.com">
                <i class="glyphicon glyphicon-refresh"></i>
              </button>
              <img style="display: none;" class="spinner" src="/static/anywhere/images/spinner-small.gif" />
              <div style="display: none; clear: both;" class="alert alert-danger error_message generic_error">
                There was a problem. If this keeps happening, please <a href="" class="feedback_link">send us feedback</a>.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message slow_startup_error">
                Your webapp took a long time to reload. It probably reloaded, but we were unable to check it.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message virtualenv_error">
                There is a problem with your virtualenv setup. Look at the <b>virtualenv</b> section on the web app tab for details.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message cname_error">
                There is a problem with your DNS configuration. Take a look at the <b>DNS setup</b> section on the web app tab for details.
              </div>
            </form>
          
        
      </div>
    </div>

  </div>


    </div>

    <div class="dropdown fullscreen-hamburger fullscreen-mini-nav">
      <button type="button" class="navbar-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        
  <li class=""><a id="id_dashboard_link" href="/user/cat95/">Dashboard</a></li>
  <li class=""><a id="id_consoles_link" href="/user/cat95/consoles/">Consoles</a></li>
  <li class=""><a id="id_files_link" href="/user/cat95/files/home/cat95">Files</a></li>
  <li class=""><a id="id_web_app_link" href="/user/cat95/webapps/">Web</a></li>
  <li class=""><a id="id_tasks_link" href="/user/cat95/tasks_tab/">Tasks</a></li>
  <li class=""><a id="id_databases_link" href="/user/cat95/databases/">Databases</a></li>


        <li class=""><a href="" class="feedback_link">Send feedback</a></li>
<li class=""><a href="/forums/" class="forums_link">Forums</a></li>
<li class=""><a href="https://help.pythonanywhere.com/" class="help_link">Help</a></li>
<li class=""><a href="https://blog.pythonanywhere.com/" class="blog_link">Blog</a></li>

  
  <li class=""><a href="/user/cat95/account/" class="account_link">Account</a></li>
  <li class="">
    <form action="/logout/" method="POST">
      <input type='hidden' name='csrfmiddlewaretoken' value='Oh8Two6xpA5OvRfbifNXSTQHWDmjAuFBFeLS8PRFqlDpOJiAZCI1Ol65dyizLDgY' />
      <button type="submit" class="btn-link logout_link">Log out</button>
    </form>
  </li>


      </ul>
    </div>

  </nav>



        
    


        
  <div>
    <div id="id_ide_split_panes">

      
        <div id="id_editor">&lt;!doctype html&gt;
&lt;head&gt;
    &lt;title&gt;dasboard all&lt;/title&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css&quot;&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;

    &lt;link rel=&quot;stylesheet&quot;
     href=&quot;https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css&quot;/&gt;

    &lt;link rel=&quot;stylesheet&quot;
     href=&quot;https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css&quot;/&gt;

    &lt;script type=&quot;application/javascript&quot;
     src=&quot;https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js&quot;&gt;
    &lt;/script&gt;

    &lt;style&gt;
        body{
            font-family:Helvetica;
            background: rgba(48, 51, 107, 0.2);
            }
        .upperstrip{
            position: absolute;
            width: 1440px;
            height: 110px;
            left: calc(50% - 1440px/2);
            top: calc(50% - 110px/2 - 457px);
            background: #30336B;
            }

        .sidebar {
            position: absolute;
            width: 200px;
            height: 914px;
            left: calc(50% - 200px/2 - 620px);
            top: calc(50% - 914px/2 + 55px);
            background-color: #111;
            overflow-x: hidden;
            padding-top: 16px;
            }

        .sidebar a {
            padding: 9px 9px;
            text-decoration: none;
            font-size: 17px;
            color: #818181;
            display: block;
            font-weight: 650;
            }

        .sidebar a:hover {
            color: #f1f1f1;
            }

        .main {
            position: absolute;
            width: 1208px;
            height: 777px;
            left: calc(50% - 1208px/2 + 99px);
            top: calc(50% - 777px/2 + 108.5px);
            }
        .titlebar{
            position: fixed;
            top: 0px;
            background-color: #D61A3C;
            height: 80px;
            }

        @media screen and (max-height: 450px) {
            .sidebar {padding-top: 15px;}
            .sidebar a {font-size: 18px;}
            }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
            }

        th, td {
            text-align: left;
            padding: 16px;
            }

        tr:nth-child(even) {
            background-color: #f2f2f2
            }


        .label {
            color: white;
            padding: 8px;
            font-family: helvetica;
            }
        .serialnum {background-color: #9B5400;}
        .NG {background-color: #FC0202;}
        .G {background-color: #079930;}

        .backcrtn{
            position: absolute;
            width: 1440px;
            height: 1024px;
            left: calc(50% - 1440px/2);
            top: calc(50% - 1024px/2);
            background: #FFFFFF;
            }
        .titlebarname{
        position: absolute;
        width: 420px;
        height: 49px;
        left: calc(50% - 420px/2 - 293px);
        top: calc(50% - 49px/2 - 435.5px);
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: #CBC2C2;
        }
        .crnerstrip{
        position: absolute;
        width: 200px;
        height: 110px;
        left: calc(50% - 200px/2 - 620px);
        top: calc(50% - 110px/2 - 457px);
        background: #272A57;
        }
        .appname{
        position: absolute;
        width: 452px;
        height: 62px;
        left: calc(50% - 452px/2 - 170px);
        top: calc(50% - 62px/2 - 345px);
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
        display: flex;
        align-items: center;
        color: #8C8C8C;
        }
        .btn {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
        width: 131px;
        height: 56px;
        font-size: 27px;
        }
        .btns {
        width: 131px;
        height: 56px;
        font-size: 27px;
        }

        .btn:hover {
          background-color: #ddd;
        }

        .btn.active {
          background-color: #666;
          color: white;
        }
        .myBtnContainer{
        position: absolute;
        left: calc(50% - 566px/2 + 350px);
        top: calc(50% - 67px/2 - 330px);
        }
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 40%;
        }

        /* The Close Button */
        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }

        .fclose {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .fclose:hover,
        .fclose:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }

        .pdclose {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .pdclose:hover,
        .pdclose:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }

        .sclose {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .sclose:hover,
        .sclose:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }

        input[type=text], select {
        font-size : 24px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      input[type=submit] {
        font-size : 24px;
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      input[type=file] {
        font-size : 24px;
        width: 100%;
        color: black;
        padding: 10px 10px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }
      input[type=submit]:disabled {
        background-color: #C4C4C4;
      }

      .modaldiv{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      .img{
      position: absolute;
      width: 68px;
      height: 68px;
      left: calc(50% - 68px/2 - 447px);
      top: calc(50% - 68px/2 - 348px);
      }

      .androidStat{
      position: absolute;
      width: 502px;
      height: 440px;
      left: calc(50% - 502px/2 - 254px);
      top: calc(50% - 440px/2 + 50px);
      background: #E4E4E4;
      }

      .appleStat{
      position: absolute;
      width: 502px;
      height: 440px;
      left: calc(50% - 502px/2 + 371px);
      top: calc(50% - 440px/2 + 50px);
      background: #E4E4E4;
      }

    &lt;/style&gt;

  &lt;script&gt;
  window.onload = doStuff;


function myFunction(input) {
  var filter, table, tr, td, i, txtValue;
  filter = input.toUpperCase();
  table = document.getElementById(&quot;myTable&quot;);
  tr = table.getElementsByTagName(&quot;tr&quot;);
  for (i = 0; i &lt; tr.length; i++) {
    if(input == &#39;all&#39;){
    tr[i].style.display = &quot;&quot;;
    }
    else{
        td = tr[i].getElementsByTagName(&quot;td&quot;)[6];
        if (td) {
          txtValue = td.className;
          if (txtValue.toUpperCase().indexOf(filter) &gt; -1) {
            tr[i].style.display = &quot;&quot;;
          } else {
            tr[i].style.display = &quot;none&quot;;
          }
        }
    }
  }
}
  function doStuff() {
            // Add active class to the current button (highlight it)
      var btnContainer = document.getElementById(&quot;myBtnContainer&quot;);
      var btns = btnContainer.getElementsByClassName(&quot;btn&quot;);
      for (var i = 0; i &lt; btns.length; i++) {
        btns[i].addEventListener(&quot;click&quot;, function(){
          var current = document.getElementsByClassName(&quot;active&quot;);
          current[0].className = current[0].className.replace(&quot; active&quot;, &quot;&quot;);
          this.className += &quot; active&quot;;
        });
      }

      // Get the modal
      var modal = document.getElementById(&quot;myModal&quot;);

      // Get the button that opens the modal
      var btn = document.getElementById(&quot;myBtn&quot;);

      // Get the &lt;span&gt; element that closes the modal
      var span = document.getElementsByClassName(&quot;close&quot;)[0];

      // When the user clicks the button, open the modal
      btn.onclick = function(){
        modal.style.display = &quot;block&quot;;
      }

      // When the user clicks on &lt;span&gt; (x), close the modal
      span.onclick = function() {
        console.log(&#39;click&#39;)
        modal.style.display = &quot;none&quot;;
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = &quot;none&quot;;
        }
      }


      // Get the modal
      var modal2 = document.getElementById(&quot;chartview&quot;);
      // Get the button that opens the modal
      var btn2 = document.getElementById(&quot;statButton&quot;);
      // Get the &lt;span&gt; element that closes the modal
      var span2 = document.getElementsByClassName(&quot;sclose&quot;)[0];


      // When the user clicks the button, open the modal
      btn2.onclick = function(){
        modal2.style.display = &quot;block&quot;;
      }

      // When the user clicks on &lt;span&gt; (x), close the modal
      span2.onclick = function() {
        //console.log(&#39;click&#39;)
        modal2.style.display = &quot;none&quot;;
      }
            // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal2) {
          modal2.style.display = &quot;none&quot;;
        }
      }

      //chart render-------------&gt;&gt;
          var chart = new CanvasJS.Chart(&quot;chartContainer1&quot;, {
        animationEnabled: true,
        title: {
            text: &quot;Android Good vs Not Good&quot;
        },
        data: [{
            type: &quot;pie&quot;,
            startAngle: 240,
            yValueFormatString: &quot;## total\&quot;\&quot;&quot;,
            indexLabel: &quot;{label} {y}&quot;,
            dataPoints: [
                {y: {{android[0]}}, label: &quot;Good&quot;},
                {y: {{android[1]}}, label: &quot;NOT Good&quot;},
            ]
        }]
    });
    chart.render();


    var chart2 = new CanvasJS.Chart(&quot;chartContainer2&quot;, {
        animationEnabled: true,
        title: {
            text: &quot;iOS Good vs Not Good&quot;
        },
        data: [{
            type: &quot;pie&quot;,
            startAngle: 240,
            yValueFormatString: &quot;## total\&quot;\&quot;&quot;,
            indexLabel: &quot;{label} {y}&quot;,
            dataPoints: [
                {y: {{apple[0]}}, label: &quot;Good&quot;},
                {y: {{apple[1]}}, label: &quot;NOT Good&quot;},
            ]
        }]
    });
    chart2.render();
}

function feedbackmodalfunction(pk){

      //for MSIL feedback modal
      // Get the modal
      var pknm  = document.getElementById(&quot;pkname&quot;);
      pknm.value = pk;
      pknm.disabled = false

      console.log(pk)
      var fmodal = document.getElementById(&quot;feedbackmodal&quot;);

      // Get the button that opens the modal
      //var btn = document.getElementById(&quot;myBtn&quot;);

      // Get the &lt;span&gt; element that closes the modal
      var span = document.getElementsByClassName(&quot;fclose&quot;)[0];

      // When the user clicks the button, open the modal
      //btn.onclick = function(){
      //  modal.style.display = &quot;block&quot;;
      //}

      // When the user clicks on &lt;span&gt; (x), close the modal
      span.onclick = function() {
        console.log(&#39;click&#39;)
        fmodal.style.display = &quot;none&quot;;
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == fmodal) {
          fmodal.style.display = &quot;none&quot;;
        }
      }
      fmodal.style.display = &quot;block&quot;;
}


function downloadPackage(pk){

      //for MSIL feedback modal
      // Get the modal
      var pknm  = document.getElementById(&quot;pdkname&quot;);
      pknm.value = pk;
      pknm.disabled = false

      console.log(pk)
      var pmodal = document.getElementById(&quot;pkdownload&quot;);

      // Get the button that opens the modal
      //var btn = document.getElementById(&quot;myBtn&quot;);

      // Get the &lt;span&gt; element that closes the modal
      var span = document.getElementsByClassName(&quot;pdclose&quot;)[0];

      // When the user clicks the button, open the modal
      //btn.onclick = function(){
      //  modal.style.display = &quot;block&quot;;
      //}

      // When the user clicks on &lt;span&gt; (x), close the modal
      span.onclick = function() {
        console.log(&#39;click&#39;)
        pmodal.style.display = &quot;none&quot;;
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == pmodal) {
          pmodal.style.display = &quot;none&quot;;
        }
      }
      pmodal.style.display = &quot;block&quot;;
}


function checkName(){
  var patt =/Sconnect_(android|iOS)_(prod|test)(_[0-9])+.zip/g ;
  var x = document.getElementById(&quot;file&quot;).value;
  var res = patt.exec(x);
  if(res == null){
  document.getElementById(&quot;submitbutton&quot;).disabled = true;
  alert(&quot;Invalid file name. Please follow proper file name convention!&quot;);
  var text = document.getElementById(&#39;version&#39;);
  text.value = &quot;&quot;;
  }
  else{
  document.getElementById(&quot;submitbutton&quot;).disabled = false;
  var version =/(_[0-9])+/g;
  var aa = (version.exec(res[0]))[0].split(&quot;_&quot;)
  var vr = aa[1]
  for (i = 2; i &lt; aa.length; i++) {
  vr = vr + &#39;.&#39; + aa[i];
  }
  var text = document.getElementById(&#39;version&#39;);
  text.value = vr;

  if (x.includes(&#39;android&#39;)){
      document.getElementById(&quot;os&quot;).selectedIndex = 0;
  }
  else if(x.includes(&#39;iOS&#39;)){
      document.getElementById(&quot;os&quot;).selectedIndex = 1;
  }
  if (x.includes(&#39;prod&#39;)){
      document.getElementById(&quot;server&quot;).selectedIndex = 0;
  }
  else if(x.includes(&#39;test&#39;)){
      document.getElementById(&quot;server&quot;).selectedIndex = 1;
  }


  }
}
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class = &quot;backcrtn&quot;&gt;&lt;/div&gt;
&lt;div class = &quot;upperstrip&quot;&gt;&lt;/div&gt;
&lt;div class = &quot;titlebarname&quot;&gt; Maruti Suzuki App Manager&lt;/div&gt;
&lt;div class = &quot;crnerstrip&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;appname&quot;&gt;Suzuki Connect&lt;/div&gt;
&lt;img src=&quot;/static/uploads/sconnect.jpg&quot; class=&quot;img&quot;&gt;

&lt;div id=&quot;myBtnContainer&quot; class=&quot;myBtnContainer&quot;&gt;
  &lt;button class=&quot;btn active&quot; onclick=&quot;myFunction(&#39;all&#39;)&quot;&gt; All&lt;/button&gt;
  &lt;button class=&quot;btn&quot; onclick=&quot;myFunction(&#39;android&#39;)&quot;&gt; android&lt;/button&gt;
  &lt;button class=&quot;btn&quot; onclick=&quot;myFunction(&#39;apple&#39;)&quot;&gt; iOS&lt;/button&gt;
  &lt;button class=&quot;btns&quot; id=&quot;statButton&quot; style=&quot;width: 60px&quot;&gt;&lt;i class=&quot;fa fa-fw fa-pie-chart&quot;&gt;&lt;/i&gt;&lt;/button&gt;
  &lt;button class=&quot;btns&quot; id=&quot;myBtn&quot;&gt;&lt;i class=&quot;fa fa-fw fa-upload&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;/div&gt;




&lt;div class=&quot;sidebar&quot;&gt;
  &lt;a href=&quot;/sconnectdashboard&quot;&gt;&lt;i class=&quot;fa fa-fw fa-file-code-o&quot;&gt;&lt;/i&gt; Suzuki Connect&lt;/a&gt;
  &lt;a href=&quot;/spsdashboard&quot;&gt;&lt;i class=&quot;fa fa-fw fa-file-code-o&quot;&gt;&lt;/i&gt; Smart Play Studio&lt;/a&gt;
  &lt;a href=&quot;/spddashboard&quot;&gt;&lt;i class=&quot;fa fa-fw fa-file-code-o&quot;&gt;&lt;/i&gt; Smart Play Dock&lt;/a&gt;
  &lt;a href=&quot;/about&quot;&gt;&lt;i class=&quot;fa fa-fw fa-info&quot;&gt;&lt;/i&gt; About&lt;/a&gt;
  &lt;a href=&quot;/logout&quot;&gt;&lt;i class=&quot;fa fa-fw fa-arrow-circle-left&quot;&gt;&lt;/i&gt;Logout&lt;/a&gt;
&lt;/div&gt;

&lt;div class=&quot;main&quot; style=&quot;overflow:scroll&quot;&gt;

&lt;table id=&quot;myTable&quot;&gt;
  &lt;tr style=&quot;background: #1D4E67; color: #ffffff&quot;&gt;
    &lt;th&gt;Sr.&lt;/th&gt;
    &lt;th&gt;Date&lt;/th&gt;
    &lt;th&gt;App Name&lt;/th&gt;
    &lt;th&gt;Build version&lt;/th&gt;
    &lt;th&gt;Server Type&lt;/th&gt;
    &lt;th&gt;Uploaded by&lt;/th&gt;
    &lt;th&gt;OS&lt;/th&gt;
    &lt;th&gt;MSIL Approval&lt;/th&gt;
    &lt;th&gt;Checked By&lt;/th&gt;
    &lt;th&gt;Comment&lt;/th&gt;
    &lt;th&gt;Edit&lt;/th&gt;
    &lt;th&gt;Download&lt;/th&gt;
  &lt;/tr&gt;

  {%- for element in file_exist %}
    {%- if element[5] in &#39;android&#39; %}
      &lt;tr&gt;
        &lt;td&gt;&lt;span class=&quot;label serialnum&quot;&gt;{{element[0]}}&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;{{element[9].strftime(&quot;%d/%m/%Y&quot;)}}&lt;/td&gt;
        &lt;td&gt;{{element[1]}}&lt;/td&gt;
        &lt;td&gt;{{element[2]}}&lt;/td&gt;
        &lt;td&gt;{{element[3]}}&lt;/td&gt;
        &lt;td&gt;{{element[4]}}&lt;/td&gt;
        &lt;td class = &quot;android&quot; style=&quot;font-size: 27px&quot;&gt;&lt;i class=&quot;fa fa-fw fa-android&quot;&gt;&lt;/i&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span class=&quot;{{&#39;label NG&#39; if element[6] == &#39;NG&#39; else &#39;label G&#39; if element[6] == &#39;GG&#39; else &#39;nn&#39;}}&quot;&gt;{{element[6]}}&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;{{element[7]}}&lt;/td&gt;
        &lt;td&gt;&lt;span onclick=&quot;alert(&#39;Feedback for {{element[1]}}:\n{{&quot;\\n&quot;.join(element[8].splitlines())}}&#39;)&quot; style=&quot;font-size: 27px&quot;&gt;&lt;i class=&quot;fa fa-fw fa-comment&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span onclick=&quot;feedbackmodalfunction(&#39;{{element[1]}}&#39;)&quot; style=&quot;font-size: 27px&quot;&gt;&lt;i class=&quot;fa fa-fw fa-edit&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span onclick=&quot;downloadPackage(&#39;{{element[1]}}&#39;)&quot; style=&quot;font-size: 27px&quot;&gt;&lt;i class=&quot;fa fa-fw fa-download&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;/td&gt;
        &lt;/tr&gt;
    {%- elif element[5] in &#39;iOS&#39;%}
      &lt;tr&gt;
        &lt;td&gt;&lt;span class=&quot;label serialnum&quot;&gt;{{element[0]}}&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;{{element[9].strftime(&quot;%d/%m/%Y&quot;)}}&lt;/td&gt;
        &lt;td&gt;{{element[1]}}&lt;/td&gt;
        &lt;td&gt;{{element[2]}}&lt;/td&gt;
        &lt;td&gt;{{element[3]}}&lt;/td&gt;
        &lt;td&gt;{{element[4]}}&lt;/td&gt;
        &lt;td class = &quot;apple&quot; style=&quot;font-size: 27px&quot;&gt;&lt;i class=&quot;fa fa-fw fa-apple&quot;&gt;&lt;/i&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span class=&quot;{{&#39;label NG&#39; if element[6] == &#39;NG&#39; else &#39;label G&#39; if element[6] == &#39;GG&#39; else &#39;nn&#39;}}&quot;&gt;{{element[6]}}&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;{{element[7]}}&lt;/td&gt;
        &lt;td&gt;&lt;span onclick=&quot;alert(&#39;Feedback for {{element[1]}}:\n{{&quot;\\n&quot;.join(element[8].splitlines())}}&#39;)&quot; style=&quot;font-size: 27px&quot;&gt;&lt;i class=&quot;fa fa-fw fa-comment&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span onclick=&quot;feedbackmodalfunction(&#39;{{element[1]}}&#39;)&quot; style=&quot;font-size: 27px&quot;&gt;&lt;i class=&quot;fa fa-fw fa-edit&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;/td&gt;
        &lt;td&gt;&lt;span onclick=&quot;downloadPackage(&#39;{{element[1]}}&#39;)&quot; style=&quot;font-size: 27px&quot;&gt;&lt;i class=&quot;fa fa-fw fa-download&quot;&gt;&lt;/i&gt;&lt;/span&gt;&lt;/td&gt;
      &lt;/tr&gt;
    {%- endif %}
  {%- endfor %}
&lt;/table&gt;
&lt;/div&gt;

&lt;!-- The Modal --&gt;
&lt;div id=&quot;myModal&quot; class=&quot;modal&quot;&gt;

  &lt;!-- Modal content --&gt;
  &lt;div class=&quot;modal-content&quot;&gt;
    &lt;span class=&quot;close&quot;&gt;&amp;times;&lt;/span&gt;
    &lt;div class=&quot;modaldiv&quot;&gt;
  &lt;form method=&quot;POST&quot; enctype=multipart/form-data&gt;
    &lt;label for=&quot;file&quot;&gt;&lt;span style=&quot;font-size: 20px&quot;&gt;Enter package (ex: Sconnect_iOS_test_1_0_6.zip)&lt;/span&gt;&lt;/label&gt;
    &lt;input type=file name=file id=&quot;file&quot; required onchange=&quot;checkName()&quot;&gt;


    &lt;label for=&quot;version&quot;&gt;&lt;span style=&quot;font-size: 20px&quot;&gt;Version&lt;/span&gt;&lt;/label&gt;
    &lt;input type=&quot;text&quot; id=&quot;version&quot; name=&quot;version&quot; placeholder=&quot;ex: 1.0.6&quot; required&gt;

    &lt;label for=&quot;os&quot;&gt;&lt;span style=&quot;font-size: 20px&quot;&gt;OS&lt;/span&gt;&lt;/label&gt;
    &lt;select id=&quot;os&quot; name=&quot;os&quot;&gt;
      &lt;option value=&quot;android&quot;&gt;Android&lt;/option&gt;
      &lt;option value=&quot;iOS&quot;&gt;iOS&lt;/option&gt;
    &lt;/select&gt;

    &lt;label for=&quot;server&quot;&gt;&lt;span style=&quot;font-size: 20px&quot;&gt;API on Server&lt;/span&gt;&lt;/label&gt;
    &lt;select id=&quot;server&quot; name=&quot;server&quot;&gt;
      &lt;option value=&quot;Production Server&quot;&gt;Production Server&lt;/option&gt;
      &lt;option value=&quot;Test Server&quot;&gt;Test Server&lt;/option&gt;
    &lt;/select&gt;
    &lt;input type=&quot;submit&quot; name=btn value=&quot;Upload&quot; id=&quot;submitbutton&quot;&gt;
    &lt;/form&gt;


  &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- feedback from MSIL --&gt;
&lt;!-- The Modal --&gt;
&lt;div id=&quot;feedbackmodal&quot; class=&quot;modal&quot;&gt;

  &lt;!-- Modal content --&gt;
  &lt;div class=&quot;modal-content&quot;&gt;
    &lt;span class=&quot;fclose&quot;&gt;&amp;times;&lt;/span&gt;
    &lt;div class=&quot;modaldiv&quot;&gt;
  &lt;form method=&quot;POST&quot; enctype=multipart/form-data&gt;
    &lt;label for=&quot;pkname&quot;&gt;&lt;span style=&quot;font-size: 20px&quot;&gt;Package Name&lt;/span&gt;&lt;/label&gt;
    &lt;input type=&quot;text&quot; id=&quot;pkname&quot; name=&quot;pkname&quot;&gt;

    &lt;label for=&quot;status&quot;&gt;&lt;span style=&quot;font-size: 20px&quot;&gt;App Status&lt;/span&gt;&lt;/label&gt;
    &lt;select id=&quot;status&quot; name=&quot;status&quot;&gt;
      &lt;option value=&quot;GG&quot;&gt;GG&lt;/option&gt;
      &lt;option value=&quot;NG&quot;&gt;NG&lt;/option&gt;
    &lt;/select&gt;

    &lt;label for=&quot;feedback&quot;&gt;&lt;span style=&quot;font-size: 20px&quot;&gt;Provide Feedback&lt;/span&gt;&lt;/label&gt;
    &lt;textarea name=&quot;feedback&quot; cols=&quot;43&quot; rows=&quot;5&quot; id=&quot;feedback&quot; style=&quot;font-size: 20px&quot;&gt;&lt;/textarea&gt;

    &lt;input type=&quot;submit&quot; name=btn value=&quot;Feedback&quot; id=&quot;feedbacksubmitbutton&quot;&gt;
    &lt;/form&gt;
  &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;


&lt;!-- Package download --&gt;
&lt;!-- The Modal --&gt;
&lt;div id=&quot;pkdownload&quot; class=&quot;modal&quot;&gt;

  &lt;!-- Modal content --&gt;
  &lt;div class=&quot;modal-content&quot;&gt;
    &lt;span class=&quot;pdclose&quot;&gt;&amp;times;&lt;/span&gt;
    &lt;div class=&quot;modaldiv&quot;&gt;
      &lt;form method=&quot;POST&quot; enctype=multipart/form-data&gt;
      &lt;label for=&quot;pdkname&quot;&gt;&lt;span style=&quot;font-size: 20px&quot;&gt;Package Name&lt;/span&gt;&lt;/label&gt;
      &lt;input type=&quot;text&quot; id=&quot;pdkname&quot; name=&quot;pdkname&quot;&gt;

      &lt;input type=&quot;submit&quot; name=btn value=&quot;Download&quot; id=&quot;pkdownloads&quot;&gt;
      &lt;/form&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;



&lt;!-- chartview --&gt;
&lt;!-- The Modal --&gt;
&lt;div id=&quot;chartview&quot; class=&quot;modal&quot;&gt;

  &lt;!-- Modal content --&gt;
  &lt;div class=&quot;modal-content&quot;&gt;
    &lt;span class=&quot;sclose&quot;&gt;&amp;times;&lt;/span&gt;
    &lt;span style=&quot;font-size: 24px&quot;&gt;Application Statistics (Good vs Not Good till Today:&lt;/span&gt;
    &lt;span  id=&quot;chartContainer1&quot; class=&quot;androidStat&quot; &gt;&lt;/span&gt;
    &lt;span  id=&quot;chartContainer2&quot; class=&quot;appleStat&quot;&gt;&lt;/span&gt;

  &lt;/div&gt;
&lt;/div&gt;
&lt;script src=&quot;https://canvasjs.com/assets/script/canvasjs.min.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;application/javascript&quot;&gt;
    Dropzone.options.dropper = {
        paramName: &#39;file&#39;,
        chunking: true,
        forceChunking: true,
        url: &#39;/upload&#39;,
        maxFilesize: 1025, // megabytes
        chunkSize: 1000000 // bytes
    }
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</div>
      

      <div id="id_ide_console">
        
          <div id="id_ide_console_pane_buttons">
            <center>
              
                <p>This is not a Python file, you can't run it here.</p>
              
            </center>
          </div>
          <iframe style="display: none" id="id_console" name="console" class="soft_keyboard_sensitive">
          </iframe>
          <div style="display: none;" class="console_limit_reached">
            <div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3 well">
            <h1>Console limit reached :-/</h1>

            <p>
            With your current PythonAnywhere account you can have up to
            2 consoles.  You can
            have more if you
            <a href="/user/cat95/account/">upgrade your account</a>!

            <p>
            Alternatively, if you don't feel like paying us more money, you
            can <a href="/user/cat95/consoles/">kill some consoles on your Consoles page</a>.
        </div>
    </div>
</div>


          </div>
        
      </div>

    </div>

    <div id="id_go_to_line_dialog" class="pa_hidden">
      <p class="form-inline">Line number: <input id="id_go_to_line_dialog_input" /></p>
      <div class="dialog_buttons">
        <button class="btn btn-default" id="id_go_to_line_dialog_ok_button">Go</button>
        <button class="btn btn-default" id="id_go_to_line_dialog_close_button">Close</button>
      </div>
    </div>

    <div id="id_file_changed_on_disk" class="pa_hidden">
      <p>Are you sure you want to save it?  Alternatively, you could re-open it in a new tab to check differences</p>
      <div class="dialog_buttons">
        <button id="id_force_save" class="btn btn-danger">Force Save</button>
        <button id="id_cancel_save" class="btn btn-default">Cancel</button>
      </div>
    </div>

    <div id="id_save_as_dialog" class="pa_hidden">
      <form class="form-inline">
        <div class="form-group">
          <label for="id_save_as_path">Please enter a path:</label>
          <input id="id_save_as_path" class="form-control" style="width: 100%;" />
        </div>
        <img id="id_save_as_spinner" class="spinner pa_hidden" src="/static/anywhere/images/spinner-small.gif" />
        <p>
          <span id="id_save_as_error" class="error_message"></span>
        </p>
        <div class="dialog_buttons">
          <button id="id_save_as_ok" type="submit" class="btn btn-primary">Save</button>
          <button id="id_save_as_cancel" type="button" class="btn btn-default">Cancel</button>
        </div>
      </form>
    </div>

    <div class="modal fade" id="id_file_sharing_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">File Sharing options</h4>
          </div>
          <div class="modal-body">
            <div id="id_file_sharing_options"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>


        
      </div>

        


        <div id="id_feedback_dialog" title="Help us improve" style="display:none">
    <div id="id_feedback_dialog_blurb_big" class="dialog_blurb_big">
        It's always a pleasure to hear from you!
    </div>
    <div id="id_feedback_dialog_blurb_small">
        Ask us a question, or tell us what you love or hate about PythonAnywhere.<br/>
        We'll get back to you over email ASAP.
    </div>
    <textarea id="id_feedback_dialog_text" rows="6"></textarea>
    <input id="id_feedback_dialog_email_address" type="text" placeholder="Email address (optional - only necessary if you would like us to contact you)"/>
    
    <div id="id_feedback_dialog_error" class="pa_hidden">
        Sorry, there was an error connecting to the server. <br/>Please try again in a few moments...
    </div>
    <div class="dialog_buttons">
        <img id="id_feedback_dialog_spinner" src="/static/anywhere/images/spinner-small.gif" />
        <button class="btn btn-primary" id="id_feedback_dialog_ok_button">OK</button>
        <button class="btn btn-default" id="id_feedback_dialog_cancel_button">Cancel</button>
    </div>
</div>


        
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-18014859-6', 'auto');
                ga('send', 'pageview');
            </script>
        

        
        <!-- preload font awesome fonts to avoid glitch when switching icons -->
        <div style="width: 0; height: 0; overflow: hidden"><i class="fa fa-square-o fa-3x" ></i></div>
    </body>
</html>
